{block content}
<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        margin: auto;
    }

    #myCarousel{
        /*max-width: 650px;*/
        margin: 0 auto;
        background: #fff;
    }

    #thumbCarousel{
        margin: 0 auto;
        background: #eaeaea;
        padding: 10px 0;
        height: 90px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        flex-direction: column-reverse;
        overflow-x: scroll;
    }

    #thumbCarousel .thumb{
        float: left;
        margin-right: 10px;
        border: 1px solid #ccc;
        background: #fff;
    }

    #thumbCarousel .thumb:last-child{
        margin-right: 0;
    }

    .thumb:hover{
        cursor: pointer;
    }

    .thumb img{
        opacity: 0.5;
    }

    .thumb img:hover{
        opacity: 1;
    }

    .thumb.active img{
        opacity: 1;
    }
</style>
<link rel="stylesheet" href="{='css/tags.css'|asset}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="myCarousel" class="carousel slide" data-interval="false">
                    <div class="carousel-inner" role="listbox">
                        {foreach $images as $image}
                            <div class="item {if $iterator->counter0 == 0}active{/if}" style="height: 300px">
                                <img src="{$pathImages.$image['path']}" alt="XZ" style="margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);">
                            </div>
                        {/foreach}
                        <div class="tags tags-main" style="position: absolute; top: 0; left:0px; text-align: center">
                            {if $car->new == 1}
                                <div class="new">Nové</div>
                            {/if}
                            {if $car->tip == 1}
                                <div class="tip">Odporúčané</div>
                            {/if}
                            {if $car->old_price !== 0.00}
                                <div class="old">Zľavnené</div>
                            {/if}
                        </div>
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    <div id="thumbCarousel">
                        {foreach $images as $image}
                            <div data-target="#myCarousel" data-slide-to="{$iterator->counter0}" class="thumb {if $iterator->counter == 0}active{/if}"><img src="{$pathImages.$image['thumb']}" alt="XZ" style="height: 50px"></div>
                        {/foreach}
                    </div>
                </div>
{*                <div class="col-lg-12">*}
{*                    <div class="tags tags-detail" style="text-align: center; position: ">*}
{*                        <div class="row" style="justify-content: flex-start;">*}
{*                            {if $car->new == 1}*}
{*                                <div class="col-lg-2 new">Nové</div>*}
{*                            {/if}*}
{*                            {if $car->tip == 1}*}
{*                                <div class="col-lg-2 tip">Odporúčané</div>*}
{*                            {/if}*}
{*                            {if $car->old_price !== 0.00}*}
{*                                <div class="col-lg-2 old">Zľavnené</div>*}
{*                            {/if}*}
{*                        </div>*}
{*                    </div>*}
{*                </div>*}
                {if isset($description)}
                    <div class="col-lg-12">
                        {$description|noescape}
                    </div>
                {/if}
            </div>
            <div class="col-md-4 sidebar">
                {form sendEmail}
                    <div class="form-group">
                        {label email /} a {label phone /}  <input n:name="send" type="submit" class="btn btn-my" />
                        <input n:name="email" class="form-control"> <input n:name="phone" class="form-control">
                    </div>
                {/form}
                <div class="sidebar-box">
                    <div class="categories">
                        <h3>Špecifikácie</h3>
                        {if !empty($car->price)}<li><a><img width="20px" src="/images/detail_car/price.png" alt="Predajná cena"> Predajná cena <span>{number_format($car->price, 2, ',', ' ')} €</span></a></li>{/if}
                        {if !empty($car->old_price)}<li><a><img width="20px" src="/images/detail_car/old_price.png" alt="Pôvodná  cena"> Pôvodná  cena <span>{number_format($car->old_price, 2, ',', ' ')} €</span></a></li>{/if}
                        {if !empty($car->vat)}<li><a><img width="20px" src="/images/detail_car/vat.png" alt="Cena"> Možnosť odpočtu DPH <span>{$car->vat} %</span></a></li>{/if}
                        {if !empty($car->type)}<li><a><img width="20px" src="/images/detail_car/car.png" alt="Typ"> Typ <span>{$car->type}</span></a></li>{/if}
                        {if !empty($car->mark)}<li><a><img width="20px" src="/images/detail_car/car.png" alt="Značka"> Značka <span>{$car->mark}</span></a></li>{/if}
                        {if !empty($car->model)}<li><a><img width="20px" src="/images/detail_car/car.png" alt="Model"> Model <span>{$car->model}</span></a></li>{/if}
                        {if !empty($car->year)}<li><a><img width="20px" src="/images/detail_car/year.png" alt="Rok výroby"> Rok výroby <span>{$car->year}</span></a></li>{/if}
                        {if !empty($car->bodywork)}<li><a><img width="20px" src="/images/detail_car/car.png" alt="Karoséria"> Karoséria <span>{$car->bodywork}</span></a></li>{/if}
                        {if !empty($car->fuel)}<li><a><img width="20px" src="/images/detail_car/fuel.png" alt="Palivo"> Palivo <span>{$car->fuel}</span></a></li>{/if}
                        {if !empty($car->transmission)}<li><a><img width="20px" src="/images/detail_car/transmission.png" alt="Prevodovka"> Prevodovka <span>{$car->transmission}</span></a></li>{/if}
                        {if !empty($car->performance)}<li><a><img width="20px" src="/images/detail_car/speed.png" alt="Výkon"> Výkon <span>{$car->performance} kW</span></a></li>{/if}
                        {if !empty($car->volume)}<li><a><img width="20px" src="/images/detail_car/engine.png" alt="Objem"> Objem <span>{$car->volume} cm<sup>3</sup></span></a></li>{/if}
                        {if !empty($car->speedometer)}<li><a><img width="20px" src="/images/detail_car/road.png" alt="Najeto"> Najeto <span>{$car->speedometer} km</span></a></li>{/if}
                        {if !empty($car->drive)}<li><a><img width="20px" src="/images/detail_car/drive.png" alt="Pohon"> Pohon <span>{$car->drive}</span></a></li>{/if}
                        {if !empty($car->engine)}<li><a><img width="20px" src="/images/detail_car/engine.png" alt="Motor"> Motor <span>{$car->engine}</span></a></li>{/if}
                    </div>
                </div>
                <div class="sidebar-box">
                    <div class="categories">
                        {if $parameters}
                            <h3>Dalšie parametry</h3>
                            {foreach $parameters as $parameter}
                                <li n:if="$parameter['name']" ><a>{$parameter['name']}</a></li>
                            {/foreach}
                        {/if}
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row" style="flex-direction: row-reverse;">
                    <div class="col-md-4" style="float: left;">

                    </div>
                    <div class="col-md-8 blog-content" style="float: right;">
                        <div class="row">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){

        //Show carousel-control

        $("#myCarousel").mouseover(function(){
            $("#myCarousel .carousel-control").show();
        });

        $("#myCarousel").mouseleave(function(){
            $("#myCarousel .carousel-control").hide();
        });

        //Active thumbnail

        $("#thumbCarousel .thumb").on("click", function(){
            $(this).addClass("active");
            $(this).siblings().removeClass("active");

        });

        //When the carousel slides, auto update

        $('#myCarousel').on('slide.bs.carousel', function(){
            var index = $('.carousel-inner .item.active').index();
            console.log(index);
            var thumbnailActive = $('#thumbCarousel .thumb[data-slide-to="'+index+'"]');
            thumbnailActive.addClass('active');
            thumbnailActive.siblings().removeClass("active");
            //console.log($(thumbnailActive).siblings());
        });
    });
</script>