{block content}
<style>
    .item-1{
        min-height: 230px;
        height: auto;
        display: flex;
        margin-bottom: 40px;
        color: #e48d27;
        box-shadow: 0 0 0.0625rem 0 rgb(0 0 0 / 20%), 0 0.0625rem 0.25rem 0 rgb(0 0 0 / 20%), 0 1rem 1.5rem -1rem rgb(0 0 0 / 30%);
    }
    .margin-right{
        margin: 0 10px 0 0;
    }
    .padding-bottom{
        padding-bottom: 20px;
    }
    /*.image-car{*/
    /*    position: absolute;*/
    /*    max-height: 14.4rem;*/
    /*    text-align: center;*/
    /*    top: 0;*/
    /*    left: 0;*/
    /*}*/
    .input,
    .textarea {
        border: 1px solid #ccc;
        font-family: inherit;
        font-size: inherit;
        padding: 1px 6px;
    }

    .input-wrap {
        position: relative;
    }
    .input-wrap .input {
        position: absolute;
        width: 100%;
        left: 0;
    }
    .width-machine {
        /*   Sort of a magic number to add extra space for number spinner */
        padding: 0 1rem;
    }

    .textarea {
        display: block;
        width: 100%;
        overflow: hidden;
        resize: both;
        min-height: 40px;
        line-height: 20px;
    }
    @media (min-width: 1023px) {
        #filter-menu{
            display: none;
        }
    }
    @media (max-width: 1022px) {
        #filter-menu{
            margin: 0 auto;
            display: flex;
        }
    }
    @media (max-width: 425px) {
        .padding{
            padding: 0 20px;
        }
        .text{
            text-align: center;
        }
    }
    @media (min-width: 426px) {
        .text{
            text-align: left
        }
    }
</style>
<link rel="stylesheet" href="{='css/tags.css'|asset}">
<div class="site-section bg-light">
    <div class="container">
        <button id="filter-menu" type="button" class="btn btn-my" data-toggle="collapse" data-target="#filter-panel">
            <span class="glyphicon glyphicon-cog"></span> Zobraziť filter
        </button>
        <div class="row">
            <aside class="col-lg-3 padding-bottom">
                <div id="filter-panel" class="collapse filter-panel">
                    <div class="card padding-bottom">
                    {form filterCars}
                        <article class="card-group-item">
                            <header class="card-header">
                                <h4 style="color: black"><strong>Typ, značka a model</strong></h4>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-lg-12">
                                            {label type_id /}
                                            <select n:name="type_id" class="form-control"></select>
                                        </div>
                                        <div class="form-group col-lg-12">
                                            {label mark_id /}
                                            <select n:name="mark_id" class="form-control"></select>
                                        </div>
                                        <div class="form-group col-lg-12">
                                            {label model_id /}
                                            <select n:name="model_id" class="form-control"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="card-group-item">
                            <header class="card-header">
                                <h4 style="color: black"><strong>Cena</strong></h4>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-lg-6">
                                            <label>Min</label>
                                            <div class="input-group mb-3" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">€</span>
                                                </div>
                                                <input n:name="price_from" type="number" class="form-control" style="height: unset">
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6" id="text-right">
                                            <label>Max</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">€</span>
                                                </div>
                                                <input n:name="price_to" type="number" class="form-control" style="height: unset">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="card-group-item">
                            <header class="card-header">
                                <h4 style="color: black"><strong>Rok výroby</strong></h4>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-lg-6">
                                            <label>Min</label>
                                            <input type="number" n:name="year_from" class="form-control" style="height:30px">
                                        </div>
                                        <div class="form-group col-lg-6" id="text-right">
                                            <label>Max</label>
                                            <input type="number" n:name="year_to" class="form-control" style="height:30px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="card-group-item">
                            <header class="card-header">
                                <h4 style="color: black"><strong>Stav tachometru</strong></h4>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    {foreach $form[speedometer]->items as $key => $label}
                                        <input type="radio" n:name="speedometer" class="margin-right" {if $form[speedometer]->value === $key} checked {/if} value="{$key}">{$label}<br/>
                                    {/foreach}
                                </div>
                            </div>
                        </article>
                        <article class="card-group-item">
                            <header class="card-header">
                                <h4 style="color: black"><strong>Palivo</strong></h4>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    {foreach $form[fuel_id]->items as $key => $label}
                                        <span class="float-right badge badge-light round">{$fuel[$key]['count']}</span>
                                        <input type="radio" n:name="fuel_id" class="margin-right" {if $form[fuel_id]->value == $key} checked {/if} value="{$key}">{$label}<br/>
                                    {/foreach}
                                </div>
                            </div>
                        </article>
                        <article class="card-group-item">
                            <header class="card-header">
                                <h4 style="color: black"><strong>Karoséria</strong></h4>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    {foreach $form[bodywork_id]->items as $key => $label}
                                        <span class="float-right badge badge-light round">{$bodywork[$key]['count']}</span>
                                        <input type="radio" n:name="bodywork_id" class="margin-right" value="{$key}" {if $form[bodywork_id]->value == $key} checked {/if}>{$label}<br/>
                                        {if $iterator->counter == 5}
                                            <a data-target="#modal-bodywork" data-toggle="modal" href="javascript:void(0)" class="text-capitalize" style="font-size: 12px; vertical-align: middle;"> Dalšie </a>
                                        {/if}
                                        {breakIf $iterator->counter == 5}
                                    {/foreach}
                                </div>
                            </div>
                        </article>
                        <article class="card-group-item">
                            <header class="card-header">
                                <h4 style="color: black"><strong>Prevodovka</strong></h4>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    {foreach $form[transmission_id]->items as $key => $label}
                                        <span class="float-right badge badge-light round">{$transmission[$key]['count']}</span>
                                        <input type="radio" {if $form[transmission_id]->value == $key} checked {/if} n:name="transmission_id" class="margin-right" value="{$key}">{$label}<br/>
                                    {/foreach}
                                </div>
                            </div>
                        </article>
                        <article class="card-group-item">
                            <header class="card-header">
                                <h4 style="color: black"><strong>Objem</strong></h4>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-lg-6">
                                            <label>Min</label>
                                            <input type="number" n:name="volume_from" class="form-control" style="height:30px">
                                        </div>
                                        <div class="form-group col-lg-6" id="text-right">
                                            <label>Max</label>
                                            <input type="number" n:name="volume_to" class="form-control" style="height:30px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="card-group-item">
                            <header class="card-header">
                                <h4 style="color: black"><strong>Výkon</strong></h4>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-lg-6">
                                            <label>Min</label>
                                            <input type="number" n:name="performance_from" class="form-control" style="height:30px">
                                        </div>
                                        <div class="form-group col-lg-6" id="text-right">
                                            <label>Max</label>
                                            <input type="number" n:name="performance_to" class="form-control" style="height:30px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="card-group-item">
                            <header class="card-header">
                                <h4 style="color: black"><strong>Výbava</strong></h4>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    {foreach $form[parameter_id]->items as $key => $label}
                                        <div class="custom-control custom-checkbox">
                                            <span class="float-right badge badge-light round">{$parameter[$key]['count']}</span>
                                            <input type="checkbox" class="custom-control-input" id="parameter_id_{$key}" n:name="parameter_id" value="{$key}">
                                            <label class="custom-control-label" for="parameter_id_{$key}">{$label}</label>
                                        </div>
                                        {if $iterator->counter == 5}
                                            <a data-target="#modal-parameter" data-toggle="modal" href="javascript:void(0)" class="text-capitalize" style="font-size: 12px; vertical-align: middle;"> Dalšie </a>
                                        {/if}
                                        {breakIf $iterator->counter == 5}
                                    {/foreach}
                                </div>
                            </div>
                        </article>
                        <div style="text-align: center">
                            <input type="submit" name="send" class="btn btn-outline-success">
                            <input type="submit" name="storno" value="Zruš filtr" class="btn btn-outline-danger">
                        </div>
                        <div id="modal-parameter" class="modal fade mdl" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content" style="min-width: 100%">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel" style="position: absolute; color: black; font-size: 20px; font-weight: 600;">Výbava</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-horizontal" style="overflow-y: scroll; max-height: 600px">
                                            {foreach $group_parameter as $group}
                                                <a href="" type="button" class="nav-link collapsed" data-toggle="collapse" data-target="#toggle_{$group['id']}"><h5>{$group['name']}  V </h5><hr></a>
                                                <div id="toggle_{$group['id']}" class="collapse">
                                                    <div>
                                                        <nav class="sb-sidenav-menu-nested nav">
                                                            {foreach $group['parameters'] as $parameterItem}
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <input type="checkbox" n:name="parameter_id" class="margin-right" value="{$parameterItem['id']}">{$parameterItem['name']}<br/>
                                                                    </div>
                                                                </div>
                                                            {/foreach}
                                                        </nav>
                                                    </div>
                                                </div>
                                            {/foreach}
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">zavrieť</button>
                                    </div>
                                </div>
                            </div>
                        </div>
{*                        <div id="modal-bodywork"  class="modal fade hidden-print" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">*}
{*                            <div class="modal-dialog">*}
{*                                <div class="modal-content">*}
{*                                    <div class="modal-header">*}
{*                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">*}
{*                                            <span aria-hidden="true">&times;</span></button>*}
{*                                        <h4 class="modal-title" id="myModalLabel" style="position: absolute;">Karoséria</h4>*}
{*                                    </div>*}
{*                                    <div id="addExperience" class="modal-body">*}
{*                                        <div class="form-horizontal" style="overflow-y: scroll; max-height: 600px">*}
{*                                            {foreach $form[bodywork_id]->items as $key => $label}*}
{*                                                <span class="float-right badge badge-light round">{$bodywork[$key]['count']}</span>*}
{*                                                <input type="radio" {if $form[bodywork_id]->value == $key} checked {/if} n:name="bodywork_id" class="margin-right" value="{$key}">{$label}<br/>*}
{*                                            {/foreach}*}
{*                                        </div>*}
{*                                    </div>*}
{*                                </div>*}
{*                            </div>*}
{*                        </div>*}
                    {/form}
                </div>
                </div>
            </aside>
                <div class="col-lg-9">
                    <div class="row padding">
                        {foreach $cars as $car}
                            <div class="col-lg-11">
                                <a n:href=":Front:Car:detail, $car['id']">
                                    <div class="item-1 row">
                                        <div class="col-sm-6" style="text-align: center">
                                            {if isset($car['main_images'])}
                                                <img src="{$pathImages.$car['main_images']->path}" alt="{$car['mark']} {$car['model']} {$car['volume'] / 1000} {$car['engine']}" class="img-fluid image-car">
                                            {else}
                                                <img src="/images/car_not_found.png" alt="car_not_found" class="img-fluid image-car">
                                            {/if}
                                            <div class="tags tags-main" style="position: absolute; top: 0; left:0px">
                                                {if $car['new'] == 1}
                                                    <div class="new">Nové</div>
                                                {/if}
                                                {if $car['tip'] == 1}
                                                    <div class="tip">Odporúčané</div>
                                                {/if}
                                                {if $car['old_price'] !== 0.00}
                                                    <div class="old">Zľavnené</div>
                                                {/if}
                                            </div>

                                        </div>
                                        <div class="col-sm-6 text">
                                            <div class="row" style="margin-top: 30px">
                                                <div class="col-lg-11">
                                                    <h3>{$car['mark']} {$car['model']}</h3>
                                                </div>
                                                <div class="col-lg-11">
                                                    <h4 style="color:black">{if !empty($car['bodywork'])}{$car['bodywork']}{/if} {if !empty($car['volume'])}{$car['volume'] / 1000}{/if} {if !empty($car['engine'])}{$car['engine']} {/if}{if !empty($car['drive'])}{$car['drive']} kW {/if}</h4>
                                                </div>
                                                <div class="col-lg-11">
                                                    <h4 style="color:black">{if !empty($car['year'])}{$car['year']}, {/if}{if !empty($car['speedometer'])}{$car['speedometer']} km,{/if} {if !empty($car['fuel'])}{$car['fuel']},{/if} {if !empty($car['transmission'])}{$car['transmission']}{/if}</h4>
                                                </div>
                                                <div class="col-lg-11" style="margin-top: 2rem;">
                                                    <h4 style="color:black"><strong>{$car['price']} €</strong></h4>
                                                </div>
                                                {if $car['old_price'] != 0}
                                                    <div class="col-lg-11">
                                                        <h4 style="color:black"><s>{$car['old_price']} €</s></h4>
                                                    </div>
                                                {/if}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {else}
                            <div class="col-md-11">
                                <div class="titlepage">
                                    <h2 style="max-width: 700px;">Vozidlo s takými kritériami je pre individuálnu ponuku</h2>
                                </div>
                            </div>
                            <div class="col-lg-11">
                                {form nothingCarsForm, class=>"main_form"}
                                    <h3 style="color:black">Pošlite nám Vašu požiadavku</h3><br/>
                                    <div class="item-1" style="overflow-x: hidden; overflow-y: auto; height: auto; min-height:230px; max-width: 720px; padding: 20px; display: flex; flex-wrap: wrap;">
                                        <div class="col-lg-6">
                                            {input name, class=>"contactus"}
                                        </div>
                                        <div class="col-lg-6 ">
                                            {input subject, class=>"contactus"}
                                        </div>
                                        <div class="col-lg-6 ">
                                            {input email, class=>"contactus"}
                                        </div>
                                        <div class="col-lg-6 ">
                                            {input phone, class=>"contactus"}
                                        </div>
                                        <div class="col-md-12" style="height: auto; min-height: 150px;">
                                            <textarea n:name="message" class="textarea resize-ta contactus" style="padding-top:0px"/>
                                        </div>
                                        <div class="col-sm-col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                            <input n:name="send" type="submit" class="sub_btn">
                                        </div>
                                    </div>
                                {/form}
                            </div>
                        {/foreach}
                    </div>
            </div>
                <div class="col-12 pag">
                    <div class="pagination">
                        {if !$paginator->isFirst()}
                            <a n:href="default, 1">První</a>
                            &nbsp;|&nbsp;
                            <a n:href="default, $paginator->page-1">Předchozí</a>
                            &nbsp;|&nbsp;
                        {/if}

                            Stránka {$paginator->getPage()} z {if ($paginator->getPageCount() == 0)} 1 {else} {$paginator->getPageCount()} {/if}

                    {if !$paginator->isLast()}
                            &nbsp;|&nbsp;
                            <a n:href="default, $paginator->getPage() + 1">Další</a>
                            &nbsp;|&nbsp;
                            <a n:href="default, $paginator->getPageCount()">Poslední</a>
                        {/if}
                    </div>
                </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    // najdeme vsechny hlavní selectboxy co maji podrizeny selectbox
    document.querySelectorAll('select[data-dependent]').forEach(function (main) {
        // a když uživatel změní vybranou položku…
        main.addEventListener('change', function () {
            let dependent = main.form[main.dataset.dependent]; // podrizeny <select>
            let url = main.dataset.url; // URL pro našeptávání
            // ...udelame pozadavek na Endpoint presenter a posleme 'id'
            fetch(url.replace(encodeURIComponent('#'), encodeURIComponent(main.value)))
                .then(response => response.json())
                // a nahrajeme do podrizeneho nove data
                .then(data => updateSelectbox(dependent, data));
        });
    });

    // vloží nové <options> do <select>
    function updateSelectbox(select, items)
    {
        select.innerHTML = ''; // odstranime vse

        var el2 = document.createElement('option');
        el2.setAttribute('selected', '');
        el2.setAttribute('disabled', '');
        el2.innerText = 'Vyber zo zoznamu';
        select.appendChild(el2);

        for (var id in items) { // vložime nové
            var el = document.createElement('option');
            el.setAttribute('value', id);
            el.innerText = items[id];
            select.appendChild(el);
        }
    }
</script>
<script>
    if ($(window).width()>1023)
    {
        $('#filter-panel').addClass('show');
    }
</script>
<script>
    window.setTimeout( function() {
        $("textarea[name='message']").height( $("textarea")[0].scrollHeight );
    }, 1);
</script>