<section class="banner_main">
    <div id="banner1" style="width:90%; padding: 2% 0;">
        <div class="container-fluid">
            <div class="row" style="padding-bottom: 50px;">
                <div class="ponuka">
                    <div class="table">
                        <h3><strong>Ponuka vozidiel</strong></h3>
{*                        {control searchCars}*}
                        {include 'searchCars.latte'}
                    </div>
                </div>
                <div class="col-md-2 fix"></div>
                <div class="clear"></div>
                <div class="col-md-5 fix" style="text-align: center;">
                    <img src="{='images/car1.png'|asset}" alt="#" class="header_car"/>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    // najdeme vsechny hlavní selectboxy co maji podrizeny selectbox
    document.querySelectorAll('select[data-dependent]').forEach(function (main) {
        // a když uživatel změní vybranou položku…
        main.addEventListener('change', function () {
            let dependent = main.form[main.dataset.dependent]; // podrizeny <select>
            let url = main.dataset.url; // URL pro našeptávání
            // ...udelame pozadavek na Endpoint presenter a posleme 'id'
            fetch(url.replace(encodeURIComponent('#'), encodeURIComponent(main.value)))
                .then(response => response.json())
                // a nahrajeme do podrizeneho nove data
                .then(data => updateSelectbox(dependent, data));
        });
    });

    // vloží nové <options> do <select>
    function updateSelectbox(select, items)
    {
        select.innerHTML = ''; // odstranime vse

        var el2 = document.createElement('option');
        el2.setAttribute('selected', '');
        el2.setAttribute('disabled', '');
        el2.innerText = 'Vyber zo zoznamu';
        select.appendChild(el2);

        for (var id in items) { // vložime nové
            var el = document.createElement('option');
            el.setAttribute('value', id);
            el.innerText = items[id];
            select.appendChild(el);
        }
    }
</script>