{block content}
{include '@ponukaForm.latte'}
{include '@boxHeader.latte'}
<!-- about -->
<div class="clear"></div>
<div id="o-nas" class="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="titlepage">
					<h2>O našich službách </h2>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-10">
					<div class="about_img">
						<div class="about_box">
							<h3>Zoznámenie s autami:  </h3>
							{if isset($aboutFirstPart)}
								{$aboutFirstPart|noescape}
							{/if}
							<div style="opacity:0.3">
								{if isset($aboutLastPart)}
									{$aboutLastPart|noescape}
								{/if}
							</div>
							<a n:href=":Front:About:" class="read_more btn">Prečítať viac</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end about -->
<!-- wedo  section -->
<div class="wedo ">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="titlepage">
					<h2>Čo robíme</h2>
					<p>Nami ponúkané služby</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-6 margin_bottom">
						<div class="work">
							<figure><img src="images/img1.png" alt="#" /></figure>
						</div>
						<div class="work_text">
							<h3>Servis<br><span class="blu">Kompletný servis</span></h3>
						</div>
					</div>
					<div class="col-md-6 margin_bottom">
						<div class="work">
							<figure><img src="images/finance.png" alt="#" /></figure>
						</div>
						<div class="work_text">
							<h3>Financovanie<br><span class="blu">Zaistíme financie</span></h3>
						</div>
					</div>
					<div class="col-md-6 margin_bottom">
						<div class="work">
							<figure><img src="images/dovoz1.png" alt="#" /></figure>
						</div>
						<div class="work_text">
							<h3>Dovoz áut<br> <span class="blu">Dovezieme auto</span></h3>
						</div>
					</div>
					<div class="col-md-6 margin_bottom">
						<div class="work">
							<figure><img src="images/klimatizace.png" alt="#" /></figure>
						</div>
						<div class="work_text">
							<h3>Plnenie klimatizácií<br><span class="blu">Výmena náplne klimatizácie</span></h3>
						</div>
					</div>
				</div>
				<a class="read_more" n:href=":Front:Service:">Prečítať viac</a>
			</div>
		</div>
	</div>
</div>
<!-- end wedo  section -->
<!-- testimonial -->
<div class="testimonial" id="reference">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="titlepage">
					<h2>Referencie</h2>
					<p>Ako sú spokojní klienti s našimi službami?</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div id="myCarousel" class="carousel slide testimonial_Carousel " data-ride="carousel">
					<ol class="carousel-indicators">
						{for $i = 0; $i < $count->count; $i++}
							<li data-target="#myCarousel" data-slide-to="{$i}" class="{if $i == 0}active{/if}"></li>
						{/for}
					</ol>
					<div class="carousel-inner">
						{if !empty($referencies)}
							{var $i = 1}
							{foreach $referencies as $reference}
								<div class="carousel-item {if $i == 1} active {/if}">
									<div class="container">
										<div class="carousel-caption">
											<div class="row">
												<div class="col-md-8 margin_boot">
													<div class="test_box">
														<i><img src="images/silhouette.png" alt="#"/></i>
														<h4>{$reference['name']}</h4>
														<span>{date('d.m.Y', strtotime($reference['created_date']))}</span>
														<p>{$reference['text']}</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								{var $i = $i + 1}
							{/foreach}
						{/if}
					</div>
					<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>

	</div>
</div>
<div>
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<div class="titlepage">
					<h3>Pridať referenciu</h3>
					<p>Napíšte nám, ako ste spokojní s našimi službami <a n:href=":Front:Reference:Add" class="btn btn-my">tu</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end testimonial -->
