<form n:name="searchCars">
    <div class="group-input">
        <select n:name="type_id" class="form-control"></select>
        <select n:name="mark_id" class="form-control"></select>
    </div>
    <div class="group-input">
        <select n:name="model_id" class="form-control"></select>
        <select n:name="fuel_id" class="form-control"></select>
    </div>
    <div class="group-input">
        <select n:name="year_from" class="form-control"></select>
        <select n:name="year_to" class="form-control"></select>
    </div>
    <div class="group-input">
        <select n:name="price_from" class="form-control"></select>
        <select n:name="price_to" class="form-control"></select>
    </div>
    <div style="text-align: center; margin-top: 20px">
        <input n:name="send" type="submit" class="ml-auto btn sub_btn" value="Vyhľadať">
    </div>
</form>