{block content}
{form priceCreateEdit}
    <div class="form-group row">
        {label number, class=>"col-sm-2 col-form-label" /}
        <div class="col-sm-10">
            <input n:name="number" type="number" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <input n:name="submit" type="submit" class="btn btn-primary">
        </div>
    </div>
{/form}