<!DOCTYPE html>
<html lang="sk">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Administrace">
	<meta name="keywords" content="administrace, IB autoslužby">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Administrace | IBAutoslužby.sk</title>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

	<!-- Css Styles -->
	<link rel="stylesheet" href="{='css/bootstrap.min.css'|asset}" type="text/css">
	<link rel="stylesheet" href="{='css/font-awesome.min.css'|asset}" type="text/css">
	<link rel="stylesheet" href="{='css/owl.carousel.min.css'|asset}" type="text/css">
	<link rel="stylesheet" href="{='css/nice-select.css'|asset}" type="text/css">
	<link rel="stylesheet" href="{='css/style.css'|asset}" type="text/css">
	<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
	<link href="{='administrace/css/styles.css'|asset}" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
	<style>
		.select2-search__field {
			width: 100% !important
		}
	</style>
</head>

<body class="sb-nav-fixed">
<!-- Page Preloder -->
<div id="preloder">
	<div class="loader"></div>
</div>
{include '@topPanel.latte'}
<div id="layoutSidenav">
	{include '@leftPanel.latte'}
	<div id="layoutSidenav_content">
		<main>
			<div class="container-fluid px-4">
				<div n:foreach="$flashes as $flash" n:class="alert, 'alert-' . $flash->type" role="alert">{$flash->message}</div>
				{include content}
			</div>
		</main>
		<footer class="py-4 bg-light mt-auto">
			<div class="container-fluid px-4">
				<div class="d-flex align-items-center justify-content-between small">
					<div class="text-muted">Copyright &copy;<script>document.write(new Date().getFullYear());</script> Všetky práva vyhradené | Vytvorila spoločnosť <a href="https://idop.cz" target="_blank">IDOP</a>
					</div>
				</div>
			</div>
		</footer>
	</div>
</div>
{block script}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
	<script src="{='administrace/js/scripts.js'|asset}"></script>
	<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
	<script src="{='administrace/js/datatables-simple-demo.js'|asset}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	<script src="{='ckeditor/ckeditor.js'|asset}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
	<script>
		CKEDITOR.replace( 'editor' );
	</script>
	<script>
		$('div[role="alert"]').delay(5000).fadeOut('slow');
	</script>
{/block}
</body>

</html>