{block content}
<div id="o-nas" class="about">
    <div class="container" style="padding-bottom: 0px">
        <h1 class="mb-4 text-center">O společnosti</h1>
        <div class="row justify-content-center mb-5 section-2-title">
            <div class="col-lg-5 mb-5 mb-lg-0 text-center">
                <img src="images/about_my_family.jpg" alt="Image" class="img-fluid" style="box-shadow: 1px 1px 50px 1px;">
            </div>
            <div class="col-lg-7 ml-auto">
                {if isset($about)}
                    {$about|noescape}
                {/if}
            </div>
        </div>
    </div>
</div>