{block content}
<style>
    .section-bg {
        background-color: #f3f5fa;
    }
    section {
        padding: 60px 0;
        overflow: hidden;
    }
    .section-title {
        text-align: center;
        padding-bottom: 30px;
    }
    .services .icon-box {
        box-shadow: 0px 0 25px 0 rgb(0 0 0 / 10%);
        padding: 20px 30px;
        transition: all ease-in-out 0.4s;
        background: #fff;
    }
    .services .icon-box h4 a {
        color: #37517e;
        transition: ease-in-out 0.3s;
    }
    .services .icon-box p {
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 0;
    }

</style>
<section id="services" class="services">
    <div class="container aos-init aos-animate">
        {if isset($main)}
            <div class="section-title">
                <h2>Služby</h2>
                {$main|noescape}
            </div>
        {/if}
        {if isset($service)}
        <div class="row">
            <div class="col-xl-3">
                <div class="icon-box" style="min-height: 150px">
                    <div style="text-align: center">
                        <i class="fa fa-server" style="color: #f8a554"></i> <span style="color:#f8a554; font-size: 16px;">Servis</span>
                    </div>
                    {$service|noescape}
                </div>
            </div>
            {/if}
            {if isset($finance)}
                <div class="col-lg-3">
                    <div class="icon-box" style="min-height: 150px">
                        <div style="text-align: center">
                            <i class="fa fa-money" style="color: #f8a554"></i> <span style="color:#f8a554; font-size: 16px;">Financovanie</span>
                        </div>
                        {$finance|noescape}
                    </div>
                </div>
            {/if}
            {if isset($clima)}
                <div class="col-xl-3">
                    <div class="icon-box" style="min-height: 150px">
                        <div style="text-align: center">
                            <i class="fa fa-road" style="color: #f8a554"></i> <span style="color:#f8a554; font-size: 16px;">Plnenie klimatizácií</span>
                        </div>
                        {$clima|noescape}
                    </div>
                </div>
            {/if}
            {if isset($transfer)}
                <div class="col-xl-3">
                    <div class="icon-box" style="min-height: 150px">
                        <div style="text-align: center">
                            <i class="fa fa-road" style="color: #f8a554"></i> <span style="color:#f8a554; font-size: 16px; ">Dovoz áut</span>
                        </div>
                        {$transfer|noescape}
                    </div>
                </div>
            {/if}
        </div>
    </div>
</section>