{block content}
{control form}
<script>
    // najdeme vsechny hlavní selectboxy co maji podrizeny selectbox
    document.querySelectorAll('select[data-dependent]').forEach(function (main) {
        // a když uživatel změní vybranou položku…
        main.addEventListener('change', function () {
            let dependent = main.form[main.dataset.dependent]; // podrizeny <select>
            let url = main.dataset.url; // URL pro našeptávání
            // ...udelame pozadavek na Endpoint presenter a posleme 'id'
            fetch(url.replace(encodeURIComponent('#'), encodeURIComponent(main.value)))
                .then(response => response.json())
                // a nahrajeme do podrizeneho nove data
                .then(data => updateSelectbox(dependent, data));
        });
    });

    // vloží nové <options> do <select>
    function updateSelectbox(select, items)
    {
        select.innerHTML = ''; // odstranime vse
        for (var id in items) { // vložime nové
            var el = document.createElement('option');
            el.setAttribute('value', id);
            el.innerText = items[id];
            select.appendChild(el);
        }
    }
</script>