{block content}
<h1 class="mt-4">Dashboard</h1>
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Počet aut ({if isset($totalCars)}{$totalCars->count}{/if})</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" n:href=":Admin:List:car">Zobrazit seznam aut</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Počet nabídek ({if isset($totalRequests)}{$totalRequests->count}{/if})</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" n:href=":Admin:Document:request">Zobrazit seznam nabídek</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Počet referencií ({if isset($totalReferencies)}{$totalReferencies->count}{/if})</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" n:href=":Admin:Settings:reference">Zobrazit seznam referencií</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Počet aut nezveřejněných ({if isset($totalHiddenCar)}{$totalHiddenCar->count}{/if})</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" n:href=":Admin:List:car, true">Zobrazit seznam aut nezveřejněných</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Zoznam pridaných posledných 10 aut
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
            <tr>
                <th>Značka</th>
                <th class="own-mobile">Model</th>
                <th>Tachometer</th>
                <th>Cena</th>
                <th class="own-mobile">Rok výroby</th>
                <th class="own-mobile">Prevodovka</th>
                <th class="own-mobile-full">Akcia</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Značka</th>
                <th class="own-mobile">Model</th>
                <th>Tachometer</th>
                <th>Cena</th>
                <th class="own-mobile">Rok výroby</th>
                <th class="own-mobile">Prevodovka</th>
                <th class="own-mobile-full">Akcia</th>
            </tr>
            </tfoot>
            <tbody>
            {if isset($lastCars)}
                {foreach $lastCars as $car}
                    <tr {if $car['hidden']} style="background-color: #fff2000d" {/if}>
                        <td>{$car['mark']}</td>
                        <td class="own-mobile">{$car['model']}</td>
                        <td>{$car['speedometer']} km</td>
                        <td>{$car['price']} €</td>
                        <td class="own-mobile">{$car['year']}</td>
                        <td class="own-mobile">{$car['transmission']}</td>
                        <td class="own-mobile-full">
                            <a type="submit" n:href=":Admin:List:Car:edit $car['id']" class="btn btn-outline-info">Upravit</a>
                            <a type="submit" n:href=":deleteCar! $car['id']" class="btn btn-outline-danger">Smazat</a>
                            {if $car['hidden']}
                                <a type="submit" n:href=":visibleCar! $car['id']" class="btn btn-outline-secondary">Zveřejnit</a>
                            {else}
                                <a type="submit" n:href=":hiddenCar! $car['id']" class="btn btn-outline-secondary">Skrýt</a>
                            {/if}
                        </td>
                    </tr>
                {/foreach}
            {/if}
            </tbody>
        </table>
    </div>
</div>