parameters:

application:
	errorPresenter: Front:Error
	mapping:
		*: [App\Module, * ,*\*Presenter]


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no

extensions:
	assets: h4kuna\Assets\DI\AssetsExtension

#assets:
#    # required nothing
#
#    # optional
#    wwwDir: %wwwDir%
#    debugMode: %debugMode%
#    tempDir: %tempDir%
#    wwwTempDir: %wwwDir%/temp # here is place where move assets from 3rd library (from vendor/ etc.)
#    externalAssets:
#        - %appDir%/../vendor/nette/nette.js # save to %wwwTempDir%/nette.js
#        'ext/nette2.4.js': %appDir%/../vendor/nette/nette.js # save to %wwwTempDir%/ext/nette2.4.js
#
#        # download from external source, this is experimental!
#        - http://example.com/foo.js # save to %wwwTempDir%/foo.js
#        'sha256-secure-token': http://example.com/foo.js # check if is right file