{block content}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Zoznam referencii stránky
        <a n:href=":Admin:Settings:Reference:add" class="btn btn-primary">Pridať</a>
    </div>

    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
            <tr>
                <th>Názov</th>
                <th>Datum</th>
                <th>Akcia</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Názov</th>
                <th>Datum</th>
                <th>Akcia</th>
            </tr>
            </tfoot>
            <tbody>
            {if isset($referencies)}
                {foreach $referencies as $reference}
                    <tr {if $reference['hidden']} style="background-color: #fff2000d" {/if}>
                        <td>{$reference['name']}</td>
                        <td>{date('d.m.Y', strtotime($reference['created_date']))}</td>
                        <td>
                            <a type="submit" n:href=":Admin:Settings:Reference:edit $reference['id']" class="btn btn-outline-info">Upraviť</a>
                            <a type="submit" n:href=":deleteReference! $reference['id']" class="btn btn-outline-danger">Zmazať</a>
                            {if $reference['hidden']}
                                <a type="submit" n:href=":visibleReference! $reference['id']" class="btn btn-outline-secondary">Zveřejnit</a>
                            {else}
                                <a type="submit" n:href=":hiddenReference! $reference['id']" class="btn btn-outline-secondary">Skrýt</a>
                            {/if}
                        </td>
                    </tr>
                {/foreach}
            {/if}
            </tbody>
        </table>
    </div>
</div>