{block content}

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Zoznam blokov stránok a ich obsahu
        <a n:href=":Admin:Settings:Block:add" class="btn btn-primary">Pridať</a>
    </div>

    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Stránka</th>
                    <th>Názov bloku</th>
                    <th>akcie</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Stránka</th>
                    <th>Názov bloku</th>
                    <th>akcie</th>
                </tr>
            </tfoot>
            <tbody>
            {if isset($blocks)}
                {foreach $blocks as $blok}
                    <tr {if !$blok['default']} style="background-color: #fff2000d" {/if}>
                        <td>{App\Module\Admin\Settings\Block\MainPresenter::LIST_PAGES[$blok['page']]}</td>
                        <td>{$blok['name']}</td>
                        <td>
                            <a type="submit" n:href=":Admin:Settings:Block:edit $blok['id']" class="btn btn-outline-info">Upraviť</a>
                            <a type="submit" n:href=":deleteBlock! $blok['id']" class="btn btn-outline-danger">Zmazať</a>
                        </td>
                    </tr>
                {/foreach}
            {/if}
            </tbody>
        </table>
    </div>
</div>