{block content}

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Zoznam parametrov
    </div>
    <div class="card-body">
        {form editPageInfoForm}
            <div class="row">
                <div class="container">
                    {input sent, class=>"btn btn-success"}
                </div>
            </div>
            {foreach $settings as $setting}
                {formContainer $setting['id']}
                    <div class="form-group">
                        {$setting['name']}
                        <input n:name="value" class="form-control">
                    </div>
                {/formContainer}
            {/foreach}
        {/form}
    </div>
</div>