{block content}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Zoznam sadzieb DPH
        <a n:href=":Admin:Settings:Vat:add" class="btn btn-primary">Pridať</a>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
            <tr>
                <th>Názov</th>
                <th>Akcia</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Názov</th>
                <th>Akcia</th>
            </tr>
            </tfoot>
            <tbody>
            {if isset($vats)}
                {foreach $vats as $vat}
                    <tr {if $vat['hidden']} style="background-color: #fff2000d" {/if}>
                        <td>{$vat['name']}</td>
                        <td>
                            <a type="submit" n:href=":Admin:Settings:Vat:edit $vat['id']" class="btn btn-outline-info">Upravit</a>
                            <a type="submit" n:href=":deleteVat! $vat['id']" class="btn btn-outline-danger">Smazat</a>
                            {if $vat['hidden']}
                                <a type="submit" n:href=":visibleVat! $vat['id']" class="btn btn-outline-secondary">Zveřejnit</a>
                            {else}
                                <a type="submit" n:href=":hiddenVat! $vat['id']" class="btn btn-outline-secondary">Skrýt</a>
                            {/if}
                        </td>
                    </tr>
                {/foreach}
            {/if}
            </tbody>
        </table>
    </div>
</div>