{block content}
<div class="container site-section" style="padding-bottom: 0px">
    <div class="row">
        <div class="col-lg-12">
            {if isset($blocks)}
                {$blocks|noescape}
            {/if}
        </div>
    </div>
</div>