{block content}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<style>
    input.currency:before {
        content: attr(data-symbol);
        float: left;
        color: #aaa;
    }
</style>
<style>
    .gallery
    {
        display: inline-block;
        margin-top: 20px;
    }
    .close-icon{
        border-radius: 50%;
        position: absolute;
        right: 5px;
        top: -10px;
        padding: 5px 8px;
    }
    .form-image-upload{
        background: #e8e8e8 none repeat scroll 0 0;
        padding: 15px;
    }
    a.hover{
        display: none;
    }

    .parent:hover a.hover{
        display: block;
        top: 0px;
        padding: 0.375rem 0.75rem;
    }
</style>

{form carCreateEdit}
    <div class="row" style="padding:50px 0 0 0">
        <div class="form-group row">
            {label url, class=>"col-sm-2 col-form-label" /}
            <div class="col-sm-10">
                <input type="text" n:name="url" class="form-control">
            </div>
        </div>
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#base_info" aria-expanded="false" aria-controls="base_info">
            <h5>Základné údaje <i class="fas fa-angle-down"></i></h5><hr>
        </a>
        <div class="collapse" id="base_info" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <div class="col-sm-4">
                    <div class="form-group">
                        {label type_id /}
                        <select n:name="type_id" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        {label mark_id /}
                        <select n:name="mark_id" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        {label model_id /}
                        <select n:name="model_id" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        {label year /}
                        <select n:name="year" class="form-control"></select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {label drive_id /}
                        <select n:name="drive_id" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        {label fuel_id /}
                        <select n:name="fuel_id" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        {label bodywork_id /}
                        <select n:name="bodywork_id" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        {label transmission_id /}
                        <select n:name="transmission_id" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        {label speedometer /}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">km</span>
                            </div>
                            <input n:name="speedometer" type="number" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {label volume /}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">ccm</span>
                            </div>
                            <input n:name="volume" class="form-control" type="number">
                        </div>
                    </div>
                    <div class="form-group">
                        {label performance /}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">kW</span>
                            </div>
                            <input n:name="performance" class="form-control" type="number">
                        </div>
                    </div>
                    <div class="form-group">
                        {label price /}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">€</span>
                            </div>
                            <input type="text" n:name="price" class="form-control" type="number">
                        </div>
                    </div>
                    <div class="form-group">
                        {label old_price /}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">€</span>
                            </div>
                            <input type="text" n:name="old_price" class="form-control" type="number">
                        </div>
                    </div>
                    <div class="form-group">
                        {label vat_id /}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">%</span>
                            </div>
                            <select n:name="vat_id" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#more_info" aria-expanded="false" aria-controls="more_info">
            <h5>Podrobné údaje <i class="fas fa-angle-down"></i></h5><hr>
        </a>
        <div class="collapse" id="more_info" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <div class="col-sm-8">
                    <div class="form-group row">
                        {label description, class=>"col-sm-2 col-form-label" /}
                        <div class="col-sm-10">
                            <textarea n:name="description" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#images" aria-expanded="false" aria-controls="images">
            <h5>Obrázky <i class="fas fa-angle-down"></i></h5><hr>
        </a>
        <div class="collapse" id="images" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <div class="col-lg-7">
                    <div class="form-group">
                        Hlavný obrázek
                        {if $images['0']['main'] == 1} <span style="color: red"><br/>Hlavný obrázok už existuje. Ak ho chcete nahradiť, pôvodný obrázok najskôr odstráňte. Je červeno ohraničený.</span> {/if}
                        <div class="input-group mb-3">
                            <input n:name="main_image" type="file" class="form-control" {if $images['0']['main'] == 1} disabled {/if}>
                        </div>
                    </div>
                    <div class="form-group">
                        Ostatné obrázky
                        <div class="input-group mb-3">
                            <input n:name="images" type="file" class="form-control" multiple>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row" style="overflow-y: scroll; max-height: 400px">
                        {foreach $images as $image}
                            <div class="col-lg-2 parent" style="padding-bottom: 10px;">
                                <img class="img-responsive" alt="" src="{App\Model\Car::DIR_IMAGE . "/" . $image['path']}" {if $image['main'] == 1} style="border: 2px solid red" {/if}/>
                                <a n:href="deleteImage! carId: $id, imageId: $image['id']" class="close-icon btn btn-danger hover"><i class="glyphicon glyphicon-remove">X</i></a>
                            </div>
                        {/foreach}
                    </div>
                </div>
            </nav>
        </div>

        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#parameters" aria-expanded="false" aria-controls="parameters">
            <h5>Parametry <i class="fas fa-angle-down"></i></h5><hr>
        </a>
        <div class="collapse" id="parameters" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <div class="col-sm-8">
                    <div class="form-check form-check-inline">
                        <input n:name="new" class="form-check-input" type="checkbox">
                        <label class="form-check-label" for="new">
                            Novinka
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input n:name="tip" class="form-check-input" type="checkbox">
                        <label class="form-check-label" for="tip">
                            Odporúčané
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input n:name="hidden" class="form-check-input" type="checkbox">
                        <label class="form-check-label" for="hidden">
                            Skryť
                        </label>
                    </div>
                </div>
            </nav>
        </div>

        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#equip" aria-expanded="false" aria-controls="equip">
            <h5>Výbava <i class="fas fa-angle-down"></i></h5><hr>
        </a>
        <div class="collapse" id="equip" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <div class="col-sm-8">
                    <select class="js-example-basic-multiple" name="equip[]" multiple="multiple" style="width: 50vw">
                        {foreach $form[equip]->items as $key => $label}
                            <option value="{$key}">{$label['sk_name']}</option>
                        {/foreach}
                    </select>
                </div>
            </nav>
        </div>
    </div>


    <div class="form-group row">
        <div class="col-sm-8">
            <input n:name="submit" type="submit" class="btn btn-primary">
        </div>
    </div>
{/form}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });
        });
    </script>
    <script>
        // najdeme vsechny hlavní selectboxy co maji podrizeny selectbox
        document.querySelectorAll('select[data-depends]').forEach(function (childSelect) {
            let parentSelect  = childSelect.form[childSelect.dataset.depends]; // nadřazený <select>
            let url = childSelect.dataset.url; // URL pro našeptávání
            let items = JSON.parse(childSelect.dataset.items || 'null'); // atribut data-items
            // a když uživatel změní vybranou položku…
            parentSelect.addEventListener('change', function () {
                // if the data-items attribute exists...
                if(items){
                    console.log(items);
                    // load new items directly into the child selectbox
                    updateSelectbox(childSelect, items[parentSelect.value]);
                }
                if(url){
                    // ...udelame pozadavek na Endpoint presenter a posleme 'id'
                    fetch(url.replace(encodeURIComponent('#'), encodeURIComponent(parentSelect.value)))
                        .then(response => response.json())
                        // a nahrajeme do podrizeneho nove data
                        .then(data => updateSelectbox(childSelect, data));
                }
            });
        });

        // vloží nové <options> do <select>
        function updateSelectbox(select, items)
        {
            select.innerHTML = ''; // odstranime vse

            var el2 = document.createElement('option');
            el2.setAttribute('selected', '');
            el2.setAttribute('disabled', '');
            el2.innerText = 'Vyber zo zoznamu';
            select.appendChild(el2);

            for (var id in items) { // vložime nové
                var el = document.createElement('option');
                el.setAttribute('value', id);
                el.innerText = items[id];
                select.appendChild(el);
            }
        }
    </script>
    <script>
        $(document).ready(function() {
            $('.js-example-basic-multiple').select2({
                placeholder: 'Začni psát název výbavy...'
            });
        });
        let equip_data = $('input[name="equip_data"]').val();
        console.log(equip_data);
        var keys = [];
        jQuery.each( JSON.parse(equip_data), function( i, val ) {
            console.log(val['parameter_id']);
            keys.push(val['parameter_id']);
        });
        $('.js-example-basic-multiple').val(keys);
        $('.js-example-basic-multiple').trigger('change');
    </script>