<html>
    <head>
        <meta charset="utf-8">
        <title>Potvrdenie e-mailu z webu IBAutoslužby.sk</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body class="bg-light">
        <div class="container">
            <img class="ax-center my-10 w-24" src="images/logo.png" />
            <div class="card p-6 p-lg-10 space-y-4">
                <h1 class="h3 fw-700">
                    Email z webu IBAutosluzby.sk
                </h1>
                <p>Dobrý deň, {$name}</p>
                <p>Zasielame Vám kópiu Vašej správy na webe IBAutoslužby.sk</p>
                <p>Meno: {$name}</p>
                <p>Predmet: {$subject}</p>
                <p>Email: {$email}</p>
                <p>Telefón: {$phone}</p>
                <p>Správa: </p>
                <p>{$message}</p>
                <a class="btn btn-primary p-3 fw-700" href="https://ibautosluzby.sk">Navštíviť web</a>
            </div>
            <img class="ax-center mt-10 w-40" src="images/logo4.png"  />
            <div class="text-muted text-center my-6">
                {$namePage}<br>
                {$streetPage}<br>
                {$zipcodePage} {$cityPage}, {$statePage}<br>
            </div>
        </div>
    </body>
</html>