<form n:name="form">
    <div class="group-input">
        <div class="group">
            <select n:name="type" class="form-select form-select-lg mb-3"></select>
        </div>
        <div class="group">
            <select n:name="mark" title="Vyberte značku vozidla" class="selectpicker form-select form-select-lg mb-3"></select>
        </div>
    </div>
    <div class="group-input">
        <div class="group">
            <input n:name="model" placeholder="Model vozidla" type="text"><br/>
            <div class="clear"></div>
        </div>
        <div class="group">
            <input n:name="fuel" placeholder="Palivo" type="text"><br/>
            <div class="clear"></div>
        </div>
    </div>
    <div class="group-input">
        <div class="group">
            <input n:name="year_from" placeholder="Rok výroby od" type="text"><br/>
            <div class="clear"></div>
        </div>
        <div class="group">
            <input n:name="year_to" placeholder="Rok výroby do" type="text"><br/>
            <div class="clear"></div>
        </div>
    </div>
    <div class="group-input">
        <div class="group">
            <input n:name="price_from" placeholder="Cena od" type="text">
            <div class="clear"></div>
        </div>
        <div class="group">
            <input n:name="price_to" placeholder="Cena do" type="text">
            <div class="clear"></div>
        </div>
    </div>
    <div style="text-align: center; margin-top: 20px">
        <input n:name="send" type="submit" class="ml-auto btn sub_btn" value="Vyhľadať">
    </div>
</form>
<script>
    $(function (){
        $(document).ready(function() {
            $("#type").change(function(){
                if( $("#type").val() == '0'){
            }
        }
    }
</script>