<footer id="kontakt">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="titlepage">
                        <h2>Kontaktujte nás</h2>
                    </div>
                </div>
                <div class="col-md-8">
                    <ul class="location_icon">
                        <li><a href="{$web['map']}" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i></a> Adresa</li>
                        <li><a href="tel:{$web['phone']}"><i class="fa fa-volume-control-phone" aria-hidden="true"></i></a>{$web['phone']}</li>
                        <li><a href="mailto:"><i class="fa fa-envelope" aria-hidden="true"></i></a>{$web['email']}</li>
                    </ul>
                </div>
                <div class="col-md-7">
                    {form contactForm, class=>"main_form"}
                        <div class="row">
                            <div class="col-md-12 ">
                                {input name, class=>"contactus"}
                            </div>
                            <div class="col-md-12 ">
                                {input subject, class=>"contactus"}
                            </div>
                            <div class="col-md-7">
                                {input email, class=>"contactus"}
                            </div>
                            <div class="col-md-5">
                                {input phone, class=>"contactus"}
                            </div>
                            <div class="col-md-12">
                                {input message, class=>"contactus"}
                            </div>
                            <div class="col-sm-col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <input n:name="send" type="submit" class="sub_btn">
                            </div>
                            <div class="col-sm-col-xl-6 col-lg-6 col-md-7 col-sm-12">
                                <ul class="social_icon">
                                    <li><a href="{$web['facebook']}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="{$web['instagram']}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    {/form}
                </div>
                <div class="col-md-6">
                    <div class="map">
                        <figure><img src="{='images/map1.png'|asset}" alt="#"/></figure>
                    </div>
                    {form subscriberNewsletter, class=>bottom_form}
                        <h3>Odber noviniek</h3>
                        <input n:name="email" class="enter" placeholder="Vložte svoj e-mail" type="text">
                        <button n:name="send" class="sub_btn">Odoberať</button>
                    {/form}
                </div>
            </div>
        </div>
        <div class="copyright-reserved">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> Všetky práva vyhradené | Vytvorila spoločnosť <a href="https://idop.cz" target="_blank">IDOP</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>