<header>
    <!-- header inner -->
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo" style="display:flex; align-items: center;">
                                <a href="/"><img src="{='images/logo.png'|asset}" alt="#" style="padding-right: 20px"/></a>
                                <a href="/"><img src="{='images/logo4.png'|asset}" alt="#" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item {if (strpos($_SERVER['REQUEST_URI'], 'auta'))} active {/if}">
                                    <a class="nav-link" n:href=":Front:Car:"> Autá</a>
                                </li>
                                <li class="nav-item {if (strpos($_SERVER['REQUEST_URI'], 'o-nas'))} active {/if}">
                                    <a class="nav-link" n:href=":Front:About:">O nás</a>
                                </li>
                                <li class="nav-item {if ($_SERVER['REQUEST_URI'] == '/sluzby')} active {/if}">
                                    <a class="nav-link" n:href=":Front:Service:">Služby</a>
                                </li>
                                <li class="nav-item {if (strpos($_SERVER['REQUEST_URI'], 'doplnkove-sluzby'))} active {/if}">
                                    <a class="nav-link" n:href=":Front:AdditionalService:">Doplnkové služby</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#kontakt">Kontaktujte nás</a>
                                </li>
                                    <a class="nav-link" style="padding:unset" href="{$web['facebook']}" target="_blank"><i class="fa fa-facebook padd_right" aria-hidden="true"></i></a>
                                    <a class="nav-link" href="{$web['instagram']}" target="_blank"><i class="fa fa-instagram padd_right" aria-hidden="true"></i></a>
                                <li class="nav-item d_none {if (strpos($_SERVER['REQUEST_URI'], 'prihlasenie'))} active {/if}">
                                    <a class="nav-link" n:href=":Front:Sign:in"><i class="fa fa-user-circle padd_right" aria-hidden="true"></i>Admin</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>