<!DOCTYPE html>
<html lang="sk">
<head>
	<!-- basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<!-- mobile metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<!-- site metas -->
	<title>{$web['title']}</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="IDOP + MIDOM s.r.o.">
	<!-- bootstrap css -->
	<link rel="stylesheet" href="{='css/bootstrap.min.css'|asset}">
	<!-- style css -->
	<link rel="stylesheet" href="{='css/style.css'|asset}">
	<link rel="stylesheet" href="{='css/cookieconsent.css'|asset}">
	<link rel="stylesheet" href="{='css/default.css'|asset}">
	<!-- Responsive-->
	<link rel="stylesheet" href="{='css/responsive.css'|asset}">
	<link rel="stylesheet" href="{='css/style1.css'|asset}">
	<!-- Scrollbar Custom CSS -->
	<link rel="stylesheet" href="{='css/jquery.mCustomScrollbar.min.css'|asset}">
	<!-- Tweaks for older IEs-->
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

	<link href="{='css/owl.carousel.min.css'|asset}" rel="stylesheet">
</head>
<body class="main-layout">
{*<div class="loader_bg">*}
{*	<div class="loader"><img src="{='images/loading.gif'|asset}" alt="#" /></div>*}
{*</div>*}
	{include '@header.latte'}
<div n:foreach="$flashes as $flash" n:class="alert, 'alert-' . $flash->type" role="alert">{$flash->message}</div>
{include content}

{include '@step.latte'}
{include '@footer.latte'}
{block scripts}
	<script src="{='js/jquery.min.js'|asset}"></script>
	<script src="{='js/bootstrap.bundle.min.js'|asset}"></script>
	<script src="{='js/jquery-3.0.0.min.js'|asset}"></script>
	<script src="{='js/custom.js'|asset}"></script>
	<script src="{='js/cookieconsent.js'|asset}"></script>
	<script src="{='js/main.js'|asset}"></script>
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

{*	<script src="{='owlcarousel/owl.carousel.min.js'|asset}"></script>*}
	<script>
		$('div[role="alert"]').delay(5000).fadeOut('slow');
	</script>
{/block}
</body>
</html>