<!DOCTYPE html>
<html lang="sk">
<head>
	<!-- basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<!-- mobile metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<!-- site metas -->
	<title>{ifset title}{include title|stripHtml} | {/ifset}IB Autoslužby Kopčany</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="IDOP + MIDOM s.r.o.">
	<!-- bootstrap css -->
	<link rel="stylesheet" href="{='css/bootstrap.min.css'|asset}">
	<!-- style css -->
	<link rel="stylesheet" href="{='css/style.css'|asset}">
	<link rel="stylesheet" href="{='css/cookieconsent.css'|asset}">
	<link rel="stylesheet" href="{='css/default.css'|asset}">
	<!-- Responsive-->
	<link rel="stylesheet" href="{='css/responsive.css'|asset}">
	<link rel="stylesheet" href="{='css/style1.css'|asset}">
	<!-- Scrollbar Custom CSS -->
	<link rel="stylesheet" href="{='css/jquery.mCustomScrollbar.min.css'|asset}">
	<!-- Tweaks for older IEs-->
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<!-- body -->
<body class="main-layout">
<!-- loader  -->
<div class="loader_bg">
	<div class="loader"><img src="{='images/loading.gif'|asset}" alt="#" /></div>
</div>
<!-- end loader -->
<!-- header -->
	{include '@header.latte'}
<!-- end header -->
<!-- banner -->
	{include '@ponukaForm.latte'}
	{include '@boxHeader.latte'}

<!-- end banner -->
<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
{include content}

{include '@step.latte'}
<!--  footer -->
{include '@footer.latte'}
<!-- end footer -->
<!-- Javascript files-->

{block scripts}
	<script src="{='js/jquery.min.js'|asset}"></script>
	<script src="{='js/popper.min.js'|asset}"></script>
	<script src="{='js/bootstrap.bundle.min.js'|asset}"></script>
	<script src="{='js/jquery-3.0.0.min.js'|asset}"></script>
	<!-- sidebar -->
	<script src="{='js/jquery.mCustomScrollbar.concat.min.js'|asset}"></script>
	<script src="{='js/custom.js'|asset}"></script>
	<script src="{='js/cookieconsent.js'|asset}"></script>
	<script src="{='js/main.js'|asset}"></script>
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
{/block}
</body>
</html>