{block content}
{form fuelCreateEdit}
    <div class="form-group row">
        {label name, class=>"col-sm-2 col-form-label" /}
        <div class="col-sm-10">
            <input n:name="name" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">Skryť</div>
        <div class="col-sm-10">
            <div class="form-check">
                <input n:name="hidden" class="form-check-input" type="checkbox">
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <input n:name="submit" type="submit" class="btn btn-primary">
        </div>
    </div>
{/form}