.tags{
    color: #fff;
    font-weight: 700;
}
.tags-main{
    position: relative;
    z-index: auto;
    left: -15px;
    width: 100px;
}
.tags-detail{
    color: #fff;
    font-weight: 700;
}
div.tags > div:first-child {
    border-radius: 10px 0 0 0;
}
.new{
    background: #1eae00;
}
.tip{
    background: #000eae;
}
.old{
    background: #ae0000;
}