{block content}
{form modelCreateEdit}
    <div class="form-group row">
        {label name, class=>"col-sm-2 col-form-label" /}
        <div class="col-sm-10">
            <input n:name="name" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        {label type_id, class=>"col-sm-2 col-form-label" /}
        <div class="col-sm-10">
            <select n:name="type_id" class="form-control"></select>
        </div>
    </div>
    <div class="form-group row">
        {label mark_id, class=>"col-sm-2 col-form-label" /}
        <div class="col-sm-10">
            <select n:name="mark_id" class="form-control"></select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">Skryť</div>
        <div class="col-sm-10">
            <div class="form-check">
                <input n:name="hidden" class="form-check-input" type="checkbox">
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <input n:name="submit" type="submit" class="btn btn-primary">
        </div>
    </div>
{/form}
<script>
    // najdeme vsechny hlavní selectboxy co maji podrizeny selectbox
    document.querySelectorAll('select[data-dependent]').forEach(function (main) {
        // a když uživatel změní vybranou položku…
        main.addEventListener('change', function () {
            let dependent = main.form[main.dataset.dependent]; // podrizeny <select>
            let url = main.dataset.url; // URL pro našeptávání
            // ...udelame pozadavek na Endpoint presenter a posleme 'id'
            fetch(url.replace(encodeURIComponent('#'), encodeURIComponent(main.value)))
                .then(response => response.json())
                // a nahrajeme do podrizeneho nove data
                .then(data => updateSelectbox(dependent, data));
        });
    });

    // vloží nové <options> do <select>
    function updateSelectbox(select, items)
    {
        select.innerHTML = ''; // odstranime vse
        for (var id in items) { // vložime nové
            var el = document.createElement('option');
            el.setAttribute('value', id);
            el.innerText = items[id];
            select.appendChild(el);
        }
    }
</script>