{block content}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Zoznam modelov vozidiel
        <a n:href=":Admin:List:Model:add" class="btn btn-primary">Pridať</a>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
            <tr>
                <th>Model</th>
                <th>Typ</th>
                <th>Značka</th>
                <th>Akcia</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Model</th>
                <th>Typ</th>
                <th>Značka</th>
                <th>Akcia</th>
            </tr>
            </tfoot>
            <tbody>
            {if isset($models)}
                {foreach $models as $model}
                    <tr {if $model['hidden']} style="background-color: #fff2000d" {/if}>
                        <td>{$model['name']}</td>
                        <td>{$model['type']}</td>
                        <td>{$model['mark']}</td>
                        <td>
                            <a type="submit" n:href=":Admin:List:Model:edit $model['id']" class="btn btn-outline-info">Upravit</a>
                            <a type="submit" n:href=":deleteModel! $model['id']" class="btn btn-outline-danger">Smazat</a>
                            {if $model['hidden']}
                                <a type="submit" n:href=":visibleModel! $model['id']" class="btn btn-outline-secondary">Zveřejnit</a>
                            {else}
                                <a type="submit" n:href=":hiddenModel! $model['id']" class="btn btn-outline-secondary">Skrýt</a>
                            {/if}
                        </td>
                    </tr>
                {/foreach}
            {/if}
            </tbody>
        </table>
    </div>
</div>