{block content}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Zoznam typov vozidiel
        <a n:href=":Admin:List:Type:add" class="btn btn-primary">Pridať</a>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Typ</th>
                    <th>Akcia</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Typ</th>
                    <th>Akcia</th>
                </tr>
            </tfoot>
            <tbody>
            {if isset($types)}
                {foreach $types as $type}
                    <tr {if $type['hidden']} style="background-color: #fff2000d" {/if}>
                        <td>{$type['name']}</td>
                        <td>
                            <a type="submit" n:href=":Admin:List:Type:edit $type['id']" class="btn btn-outline-info">Upravit</a>
                            <a type="submit" n:href=":deleteType! $type['id']" class="btn btn-outline-danger">Smazat</a>
                            {if $type['hidden']}
                                <a type="submit" n:href=":visibleType! $type['id']" class="btn btn-outline-secondary">Zveřejnit</a>
                            {else}
                                <a type="submit" n:href=":hiddenType! $type['id']" class="btn btn-outline-secondary">Skrýt</a>
                            {/if}
                        </td>
                    </tr>
                {/foreach}
            {/if}
            </tbody>
        </table>
    </div>
</div>