{block content}

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Zoznam Prevodovek
        <a n:href=":Admin:List:Transmission:add" class="btn btn-primary">Pridať</a>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
            <tr>
                <th>Prevodovka</th>
                <th>Akcia</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Prevodovka</th>
                <th>Akcia</th>
            </tr>
            </tfoot>
            <tbody>
            {if isset($transmissions)}
                {foreach $transmissions as $transmission}
                    <tr {if $transmission['hidden']} style="background-color: #fff2000d" {/if}>
                        <td>{$transmission['name']}</td>
                        <td>
                            <a type="submit" n:href=":Admin:List:Transmission:edit $transmission['id']" class="btn btn-outline-info">Upravit</a>
                            <a type="submit" n:href=":deleteTransmission! $transmission['id']" class="btn btn-outline-danger">Smazat</a>
                            {if $transmission['hidden']}
                                <a type="submit" n:href=":visibleTransmission! $transmission['id']" class="btn btn-outline-secondary">Zveřejnit</a>
                            {else}
                                <a type="submit" n:href=":hiddenTransmission! $transmission['id']" class="btn btn-outline-secondary">Skrýt</a>
                            {/if}
                        </td>
                    </tr>
                {/foreach}
            {/if}
            </tbody>
        </table>
    </div>
</div>