{block content}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Zoznam pohonov vozidiel
        <a n:href=":Admin:List:Drive:add" class="btn btn-primary">Pridať</a>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
            <tr>
                <th>Pohon</th>
                <th>Akcia</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Pohon</th>
                <th>Akcia</th>
            </tr>
            </tfoot>
            <tbody>
            {if isset($drives)}
                {foreach $drives as $drive}
                    <tr {if $drive['hidden']} style="background-color: #fff2000d" {/if}>
                        <td>{$drive['name']}</td>
                        <td>
                            <a type="submit" n:href=":Admin:List:Drive:edit $drive['id']" class="btn btn-outline-info">Upravit</a>
                            <a type="submit" n:href=":deleteDrive! $drive['id']" class="btn btn-outline-danger">Smazat</a>
                            {if $drive['hidden']}
                                <a type="submit" n:href=":visibleDrive! $drive['id']" class="btn btn-outline-secondary">Zveřejnit</a>
                            {else}
                                <a type="submit" n:href=":hiddenDrive! $drive['id']" class="btn btn-outline-secondary">Skrýt</a>
                            {/if}
                        </td>
                    </tr>
                {/foreach}
            {/if}
            </tbody>
        </table>
    </div>
</div>