{block content}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Zoznam parametrov
        <a n:href=":Admin:List:Parameter:add" class="btn btn-primary">Pridať</a>
    </div>
    <div class="card-body">
        <table>
            <thead>
            <tr>
                <th>SK Názov</th>
                <th>Skupina</th>
{*                <th>Akcia</th>*}
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>SK Názov</th>
                <th>Skupina</th>
{*                <th>Akcia</th>*}
            </tr>
            </tfoot>
            <tbody>
                {form editParameterForm}
                    {input sent, class=>"btn btn-success"}
                    {foreach $parameters as $parameter}
                        {formContainer $parameter['id']}
                            <tr {if $parameter['hidden']} style="background-color: #fff2000d" {/if}>
                                <td>{$parameter['sk_name']}</td>
                                <td><select n:name="group" class="form-control"></select></td>
{*                                <td>*}
{*                                    <a type="submit" n:href=":Admin:List:Parameter:edit $parameter['id']" class="btn btn-outline-info">Upravit</a>*}
{*                                    <a type="submit" n:href=":deleteParameter! $parameter['id']" class="btn btn-outline-danger">Smazat</a>*}
{*                                    {if $parameter['hidden']}*}
{*                                        <a type="submit" n:href=":visibleParameter! $parameter['id']" class="btn btn-outline-secondary">Zveřejnit</a>*}
{*                                    {else}*}
{*                                        <a type="submit" n:href=":hiddenParameter! $parameter['id']" class="btn btn-outline-secondary">Skrýt</a>*}
{*                                   {/if}*}
{*                               </td>*}
                            </tr>
                        {/formContainer}
                    {/foreach}
                {/form}
            </tbody>
        </table>
    </div>
</div>
<script>
    const cards = document.querySelectorAll(".card")

    const observer = new IntersectionObserver(
        entries => {
            entries.forEach(entry => {
                entry.target.classList.toggle("show", entry.isIntersecting)
            })
        },{
            threshold: 1,
        }
    )


    cards.forEach(card => {
        observer.observe(card)
    })

    // const observer = new IntersectionObserver(

    // const cardContainer = document.querySelector(".card-container")
    // function loadNewCards(){
    //     for (let i = 0; i < 10; i++){
    //         const card = document.createElement("div")
    //         card.textContent = "New Card"
    //         card.classList.add("card")
    //         observer.observe(card)
    //         cardContainer.append(card)
    //     }
    // }
    //
    // const lastCardObserver = new IntersectionObserver(entries => {
    //     const lastCard = entries[0]
    //     if(!lastCard.isIntersecting) return
    //     loadNewCard()
    //     lastCardObserver.unobserve(lastCard.target)
    //     lastCardObserver.observer(document.querySelector(".card:last-child"))
    // }, {
    //     rootMargin: "100px"
    // })
    //
    // lastCardObserver.observer(document.querySelector(".card:last-child"))
    //
    // cards.forEach(card => {
    //     observer.observer(card)
    // })





    // function fetchImage() {
    //     if (imgCount !== 20) {
    //         setTimeout(() => {
    //             for (let i = imgCount; i < imgCount + 5; i++) {
    //                 const image = document.createElement("img");
    //                 image.src = data[i].src;
    //                 rootElement.append(image);
    //             }
    //             imgCount += 5;
    //         }, 500)
    //     }
    // }
    // document.addEventListener("DOMContentLoaded", () => {
    //     let options = {
    //         root: null,
    //         rootMargin: "0px",
    //         threshold: 0.25
    //     };
    //
    //     function handleIntersect(entries, observer) {
    //         entries.forEach((entry) => {
    //             if (entry.isIntersecting) {
    //                 if (imgCount !== 20) {
    //                     fetchImage()
    //                 }
    //             }
    //         });
    //     }
    //
    //     let observer = new IntersectionObserver(handleIntersect,
    //         options);
    //     observer.observe(loader);
    // })
</script>