{block content}

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Zoznam paliv
        <a n:href=":Admin:List:Fuel:add" class="btn btn-primary">Pridať</a>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
            <tr>
                <th>Palivo</th>
                <th>Akcia</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Palivo</th>
                <th>Akcia</th>
            </tr>
            </tfoot>
            <tbody>
            {if isset($fuels)}
                {foreach $fuels as $fuel}
                    <tr {if $fuel['hidden']} style="background-color: #fff2000d" {/if}>
                        <td>{$fuel['name']}</td>
                        <td>
                            <a type="submit" n:href=":Admin:List:Fuel:edit $fuel['id']" class="btn btn-outline-info">Upravit</a>
                            <a type="submit" n:href=":deleteFuel! $fuel['id']" class="btn btn-outline-danger">Smazat</a>
                            {if $fuel['hidden']}
                                <a type="submit" n:href=":visibleFuel! $fuel['id']" class="btn btn-outline-secondary">Zveřejnit</a>
                            {else}
                                <a type="submit" n:href=":hiddenFuel! $fuel['id']" class="btn btn-outline-secondary">Skrýt</a>
                            {/if}
                        </td>
                    </tr>
                {/foreach}
            {/if}
            </tbody>
        </table>
    </div>
</div>