{block content}

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Zoznam Karosérií
        <a n:href=":Admin:List:Bodywork:add" class="btn btn-primary">Pridať</a>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
            <tr>
                <th>Karoséria</th>
                <th>Akcia</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Karoséria</th>
                <th>Akcia</th>
            </tr>
            </tfoot>
            <tbody>
            {if isset($bodyworks)}
                {foreach $bodyworks as $bodywork}
                    <tr {if $bodywork['hidden']} style="background-color: #fff2000d" {/if}>
                        <td>{$bodywork['name']}</td>
                        <td>
                            <a type="submit" n:href=":Admin:List:Bodywork:edit $bodywork['id']" class="btn btn-outline-info">Upravit</a>
                            <a type="submit" n:href=":deleteBodywork! $bodywork['id']" class="btn btn-outline-danger">Smazat</a>
                            {if $bodywork['hidden']}
                                <a type="submit" n:href=":visibleBodywork! $bodywork['id']" class="btn btn-outline-secondary">Zveřejnit</a>
                            {else}
                                <a type="submit" n:href=":hiddenBodywork! $bodywork['id']" class="btn btn-outline-secondary">Skrýt</a>
                            {/if}
                        </td>
                    </tr>
                {/foreach}
            {/if}
            </tbody>
        </table>
    </div>
</div>