{block content}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Zoznam značiek vozidiel
        <a n:href=":Admin:List:Mark:add" class="btn btn-primary">Pridať</a>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
            <tr>
                <th>Značka</th>
                <th>Typ</th>
                <th>Akcia</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Značka</th>
                <th>Typ</th>
                <th>Akcia</th>
            </tr>
            </tfoot>
            <tbody>
            {if isset($marks)}
                {foreach $marks as $mark}
                    <tr {if $mark['hidden']} style="background-color: #fff2000d" {/if}>
                        <td>{$mark['name']}</td>
                        <td>{$mark['type']}</td>
                        <td>
                            <a type="submit" n:href=":Admin:List:Mark:edit $mark['id']" class="btn btn-outline-info">Upravit</a>
                            <a type="submit" n:href=":deleteMark! $mark['id']" class="btn btn-outline-danger">Smazat</a>
                            {if $mark['hidden']}
                                <a type="submit" n:href=":visibleMark! $mark['id']" class="btn btn-outline-secondary">Zveřejnit</a>
                            {else}
                                <a type="submit" n:href=":hiddenMark! $mark['id']" class="btn btn-outline-secondary">Skrýt</a>
                            {/if}
                        </td>
                    </tr>
                {/foreach}
            {/if}
            </tbody>
        </table>
    </div>
</div>