{block content}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Zoznam motorov vozidiel
        <a n:href=":Admin:List:Engine:add" class="btn btn-primary">Pridať</a>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
            <tr>
                <th>Motor</th>
                <th>Model</th>
                <th>Akcia</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Motor</th>
                <th>Model</th>
                <th>Akcia</th>
            </tr>
            </tfoot>
            <tbody>
            {if isset($engines)}
                {foreach $engines as $engine}
                    <tr {if $engine['hidden']} style="background-color: #fff2000d" {/if}>
                        <td>{$engine['name']}</td>
                        <td>{$engine['model']}</td>
                        <td>
                            <a type="submit" n:href=":Admin:List:Engine:edit $engine['id']" class="btn btn-outline-info">Upravit</a>
                            <a type="submit" n:href=":deleteEngine! $engine['id']" class="btn btn-outline-danger">Smazat</a>
                            {if $engine['hidden']}
                                <a type="submit" n:href=":visibleEngine! $engine['id']" class="btn btn-outline-secondary">Zveřejnit</a>
                            {else}
                                <a type="submit" n:href=":hiddenEngine! $engine['id']" class="btn btn-outline-secondary">Skrýt</a>
                            {/if}
                        </td>
                    </tr>
                {/foreach}
            {/if}
            </tbody>
        </table>
    </div>
</div>