{block content}

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Zoznam automobilov
        <a n:href=":Admin:List:Car:add" class="btn btn-primary">Pridať</a>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Značka</th>
                    <th class="own-mobile">Model</th>
                    <th class="own-mobile-full">Tachometer</th>
                    <th>Cena</th>
                    <th class="own-mobile">Rok výroby</th>
                    <th class="own-mobile">Prevodovka</th>
                    <th>Akcia</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Značka</th>
                    <th class="own-mobile">Model</th>
                    <th class="own-mobile-full">Tachometer</th>
                    <th>Cena</th>
                    <th class="own-mobile">Rok výroby</th>
                    <th class="own-mobile">Prevodovka</th>
                    <th>Akcia</th>
                </tr>
            </tfoot>
            <tbody>
            {if isset($cars)}
                {foreach $cars as $car}
                    <tr {if $car['hidden']} style="background-color: #fff2000d" {/if}>
                        <td><a n:href=":Front:Car:detail, $car['id']">{$car['mark']}</a></td>
                        <td class="own-mobile">{$car['model']}</td>
                        <td class="own-mobile-full">{$car['speedometer']} km</td>
                        <td>{$car['price']} €</td>
                        <td class="own-mobile">{$car['year']}</td>
                        <td class="own-mobile">{$car['transmission']}</td>
                        <td>
                            <a type="submit" n:href=":Admin:List:Car:edit $car['id']" class="btn btn-outline-info">Upravit</a>
                            <a type="submit" n:href=":deleteCar! $car['id']" class="btn btn-outline-danger">Smazat</a>
                            {if $car['hidden']}
                                <a type="submit" n:href=":visibleCar! $car['id']" class="btn btn-outline-secondary">Zveřejnit</a>
                            {else}
                                <a type="submit" n:href=":hiddenCar! $car['id']" class="btn btn-outline-secondary">Skrýt</a>
                            {/if}
                        </td>
                    </tr>
                {/foreach}
            {/if}
            </tbody>
        </table>
    </div>
</div>